{% extends "base.html" %}
{% block title %}Lisää kauppa{% endblock %}
{% block content %}
<form method="post">
    Kauppa (esim. K-Citymarket tai Siwa): <input type="text" required="required" name="name" maxlength="50"><br>
    Alue (esim. kauppakeskus tai kaupunginosa): <input type="text" required="required" name="area" maxlength="50"><br>
    Kaupunki: <input type="text" required="required" name="city" maxlength="50"><br>
    Postinumero: <input type="text" required="required" name="postal_code" maxlength="50"><br>
    <br>
    {% for grocery in groceries %}
        {{grocery.name}} {{grocery.amount}} {{grocery.quantity}} <br>
        {% if grocery.name == "Suomalainen rasvaton maito" or grocery.name == "Suomalainen naudan jauheliha" %}
            Tuottaja: <input type="text" required="required" name="{{grocery.identi}}_manufacturer" maxlength="50"><br>
        {%endif%}
        Hinta: <input type="number" step="any" required="required" name="{{grocery.identi}}_price" maxlength="50"><br>
    {% endfor %}
    {% if not user %}
    {{ captchahtml }}
    Saat CHAPTCHA:n pois päältä <a href="{{ url}}">kirjautumalla</a> Google-tunnuksilla.</a><br>
    {% endif %}
    <input type="submit" value="Luo kauppa" name = "add_shop"><br>
</form>
<br>
Huomiothan, että annat hinnat ilman kanta-asiakaskortti alennuksia.
{% endblock %}