{% extends "base.html" %}
{% block content %}
<form method="post">
    Nimi: <input type="text" required="required" name="name"><br>
    Alue (esim. kauppakeskus tai kaupunginosa): <input type="text" required="required" name="area" ><br>
    Kaupunki: <input type="text" required="required" name="city" ><br>
    Postinumero: <input type="text" required="required" name="postal_code"><br>
    <br>
    Suomalainen rasvaton maito 1l:<br>
    Tuottaja: <input type="text" required="required" name="rasvaton_maito_manufacturer"><br>
    Hinta: <input type="number" step="any" required="required" name="rasvaton_maito_price"><br>
    Reissumies 4kpl:<br>
    Hinta: <input type="number" step="any" required="required" name="reissumies_price" ><br>
    Oltermanni Juusto 1kg:<br>
    Hinta: <input type="number" step="any" required="required" name="oltermanni_price" ><br>
    Suomalaiset tomaatit 1kg:<br>
    Hinta: <input type="number" step="any" required="required" name="tomaatit_price"><br>
    Suomalainen naudan jauheliha 400g:<br>
    Tuottaja: <input type="text" required="required" name="jauheliha_manufacturer" ><br>
    Hinta: <input type="number" step="any" required="required" name="jauheliha_price" ><br>
    Maustettu Jogurtti Arla & Ingman 1l:<br>
    Hinta: <input type="number" step="any" required="required" name="jogurtti_price" ><br>
    Tutti-Frutti Karkkipussi  400g:<br>
    Hinta: <input type="number" step="any" required="required" name="tutti-frutti_price"><br>
    Juhlamokka Kahvi 500g:<br>
    Hinta: <input type="number" step="any" required="required" name="kahvi_price"><br>
    <input type="submit" value="Luo kauppa" name = "add_shop"><br>
</form>
<br>
Huomiothan, että annat hinnat ilman kanta-asiakaskortti alennuksia.
{% endblock %}