<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Ruokakori.net - Löydä alueesi halvin ruokakori</title>
    {% endblock %}
</head>
<body>
<div id="login"><a href="{{ url}}" class="login">{{ url_linktext}}</a></div>
    
    <div id= "container">
        {% block top %}
        <a href="/"> <img src="pics/logo.jpg"></img> </a>
        Vertaa ruokakorien hintoja. Osallistumalla tietojen keräämiseen, parannamme palvelua.
	    {% endblock %}
    <div id="content">
	<div id="list_white">
	{% block content %}{% endblock %}
	</div>
	</div>
    <div id="footer">
        {% block footer %}
        <p class="s">Sivusto on vielä kokeilutilassa. Kehitämme palvelua käyttäjien toiveiden mukaan. Bugit ja toiveet
        voi lisätä suoraan <a href="https://bitbucket.org/ismaro/ruokakori/issues">vikaseurantaan</a><br> Palautetta voi
        antaa myös osoitteeseen: <a href = "mailto:palaute@ruokakori.net?subject=Palautetta%20ruokakori.net%20palvelusta">
        palaute@ruokakori.net</a><br>Puuttuuko kauppa tai tiedot ovat virheelliset? Tietojen muuttaminen ja uuden kaupan lisääminen onnistuu kirjautumalla Google-tunnuksilla palveluun.<br>Palvelun on toteuttanut ProNetworks Solutions</p>
    </div>
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-42398393-1', 'ruokakori.net');
              ga('send', 'pageview');
        </script>
        {% endblock %}
		</div>
</body>