<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Ruokakori.net: Löydä alueesi halvin ruokakori - {% block title%}{%endblock%}</title>
    {% endblock %}
</head>
<body>

{% if current_url != "localhost" %}
<script type="text/javascript" src="js/google_plus.js">
</script>
<div id="fb-root"></div>
<script src="js/facebook_like.js">
</script>
<script src="js/google_analytics.js">
</script>
<script src="js/twitter_follow.js"> 
</script>
{% endif %}

    {% block header %}
	{% if current_url != "localhost" %}
	<div class="fb-like" data-href="http://www.ruokakori.net/" data-send="false" data-layout="button_count" data-show-faces="true"></div>
	<a href="https://twitter.com/Ruokakori" class="twitter-follow-button" data-show-count="false">Follow @Ruokakori</a>
    <div class="g-plusone" data-size="medium" data-annotation="bubble" ></div>  
	{% endif %}
	{% endblock %}

<div id="container">
    <div id= "content-container">
	         {% block top %}
	  <a href="{{url}}" class="login">{{ url_linktext}}</a>  <br>		
	  <a href="/"> <img src="pics/logo.png"></img> </a><br>
		<div id="text_and_login">
	  <span class="m_b"><i> Vertaa ruokakorien hintoja. Tiedonkeruu tapahtuu käyttäjien toimesta.</i></span>
		 {% endblock %}
</div>
		
    <div id="content">
	  
	{% block content %}{% endblock %}
	</div>

	
    <div id="footer">
        {% block footer %}
        <p class="s">Palvelua kehitetään käyttäjien toiveiden perusteella. | Bugit ja toiveet: <a href="https://bitbucket.org/ismaro/ruokakori/issues">vikaseuranta</a> |
			Palaute: <a href = "mailto:palaute@ruokakori.net?subject=Palautetta%20ruokakori.net%20palvelusta">
        palaute@ruokakori.net</a>
        {% endblock %}
		</div>
    </div>
<div>
</body>