{% extends "base.html" %}
{% block content %}
 <form method="post">
    Nimi: <input type="text" required="required" name="name" value="{{shop.name}}" > <br>
    Alue (esim kauppakeskus tai kaupunginosa): <input type="text" required="required" name="area" value="{{shop.area}}" > <br>
    Kaupunki: <input type="text" required="required" name="city" value="{{shop.city}}" > <br>
    Postinumero: <input type="text" required="required" name="postal_code" value="{{shop.postal_code}}" > <br>
    <br>
     {% for grocery in shop.groceries %}
         {{ grocery.name}} <input type="number" name="{{grocery.name}}_price" step="any" required="required" value= "{{grocery.price}}">
         {% if grocery.name == 'Rasvaton Maito' or grocery.name == 'Naudan Jauheliha' %}
             <input type = "text" name="{{grocery.name}}_manufacturer" required="required" value="{{grocery.manufacturer}}">
         {% endif %}
         <br>
     {% endfor %}
     <br>
    <input type="submit" value="Muuta arvot" name = "edit_shop">
</form>
<br>
Huomiothan, että annat hinnat ilman kanta-asiakaskortti alennuksia.
{% endblock %}