{% extends "base.html" %}
{% block title %}Pääsivu{% endblock %}
{% block content %}
    <table class="shop">
    {% for shop in shops_to_show %}
			 <tr><td class="{{ loop.cycle('name_odd', 'name_even') }}"><a href="show_shop?shop={{shop.key.urlsafe()}}" class="first_shop" id="{{shop.name}} {{shop.area}}">
             {{shop.name}} {{shop.area}}, {{ shop.city}}</a></td><td class="price"><span class="m"> {{ shop.price}} €</span></td><td class="added"><span class="si">(Päivitetty {{shop.date.day}}.{{shop.date.month}}.{{shop.date.year}})</span></td></tr>
	{% endfor %}
	</table>
	<div id="list_white">
	<form method="post" action = "/">
       {% for filter in filters %}
           <select name = {{filter.name}}>
               <option selected= 'selected' value="{{filter.selected_value}}">{{filter.selected}}</option>
               {% for option in filter.options %}
                    <option value="{{option.value}}">{{option.name}}</option>
               {% endfor %}
           </select>
       {% endfor %}
    <input type="submit" name="apply_filter" value="Aseta suodatin" />
    <input type="submit" name="clear_filter" value="Tyhjennä suodatin" /><br><br>
    {% if user %}
        <input type="submit" value="Lisää kauppa" name = "add_shop">
    {% endif %}
    </form>
   </div>
	
{% endblock %}