{% extends "base.html" %}
{% block content %}
<table class="shop"><tr><td class="c1_show">
     <span class="m">{{shop.name}} {{shop.area}}<br>
	 {{shop.postal_code}}  {{shop.city}}</span>
     <td class="c1_show">&nbsp;</td><td class="c3_show"><span class="s">Päivitetty: {{shop.date.day}}.{{shop.date.month}}.{{shop.date.year}}</span></td></tr>
     
     {% for grocery in shop.groceries %}
     <tr><td class="c1_show"><span class="m">{{ grocery.name}} {{grocery.manufacturer}}</td><td class="c2_show"><span class="m">{{grocery.amount}} {{grocery.quantity}}</td><td class="c3_show"><span class="m">{{ grocery.price}} €</span></td></tr>
     {% endfor %}
     <tr><td class="c1_show">&nbsp;</td><td class="c2_show"><span class="m">Yhteensä:</span></td><td class="c3_show"><span class="m">{{ shop.price}} €</span></td></tr>
     </table>
	 {% if user %}
<br><br>
     <form method="post">
	    <input type="submit" value="Muokkaa kauppaa" name = "edit_shop"><br><br><br>
  
        <input type="submit" value="Poista kauppa" name = "delete_shop">
    </form>
    {% endif %}

{% endblock %}