{% extends "base.html" %}
{% block title %}Ostoskorin hinta: {{shop.name}} {{shop.area}} {{shop.city}}{% endblock %}
{% block content %}
<script type="text/javascript">
function deleteShop(shop){
    var conf = confirm("Haluatko varmasti tuhota kaupan?");
    if(conf == true){
         alert("Tuhosit kaupan "+shop);
    }
}
</script>

<table width="600"><tr><td colspan="3">
     <span class="m"><b>{{shop.name}} {{shop.area}}</b>, {{shop.postal_code}} {{shop.city}}</span><span class="si"> (Päivitetty: {{shop.date.day}}.{{shop.date.month}}.{{shop.date.year}})</span> <td class="price_class"><span class="m">{{shop.priceClass*"€"}}</span></td> <br><br></td></tr>
     
     {% for grocery in shop.groceries %}
     <tr class="{{ loop.cycle('n_odd', 'n_even') }}"><td><span class="m">{{ grocery.name}}, {{grocery.manufacturer}}</td>
     <td><span class="m">{{"%i" % grocery.amount}} {{grocery.quantity}}</td>
     <td><span class="m">{{ "%.2f" % grocery.price}} €</span></td></tr>
     {% endfor %}
     <tr><td>&nbsp;</td><td><img src="pics/total.png"></td><td><span class="m"><b>{{"%.2f" % shop.price}} €</b></span></td></tr>
     </table>
<br><br>
     <form method="post">
        {% if not user %} 
        {{captchahtml}}
        Saat CHAPTCHA:n pois päältä <a href="{{ url}}">kirjautumalla</a> Google-tunnuksilla.</a><br>
         {% endif %}
	    <input type="submit" value="Muokkaa kauppaa" name = "edit_shop">
        <input type="submit" value="Poista kauppa" onClick="deleteShop('{{shop.name}} {{shop.area}}')" name = "delete_shop">
    </form>

{% endblock %}