{% extends "base.html" %}
{% block content %}
     Nimi: {{shop.name}} {{shop.area}}<br>
     Kaupunki: {{shop.city}} <br>
     Postinumero: {{shop.postal_code}} <br>
     Hinta: {{shop.price}} <br>
     <br>
     Ruoat:<br>
     {% for grocery in shop.groceries %}
        {{ grocery.name}} {{grocery.manufacturer}} {{grocery.amount}} {{grocery.quantity}} {{ grocery.price}} <br>
     {% endfor %}

     {% if user %}

     <form method="post">
        <input type="submit" value="Poista kauppa" name = "delete_shop">
        <input type="submit" value="Muokkaa kauppaa" name = "edit_shop">
    </form>
    {% endif %}

{% endblock %}