body 
{
background-color:#F8F8F8;
}
#container
{
border-style:solid;
border-width:1px;
border-color:#E0E0E0;
padding:25px;

width:890px;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
}

#login
{

width:940px;
margin-left:auto;
margin-right:auto;
text-align:right;
margin-bottom:5px;
padding-right:15px;

}

#content
{

width:690px;
margin-left:auto;
margin-right:auto;
padding-top:25px;


}

#list_white
{

width:690;
}

#list_gray_first
{

background-color:#F8F8F8;
padding:15px;
}

#list_gray
{

background-color:#F8F8F8;
padding:15px;

}

#footer
{
width:890px;

}

a.login:link {text-decoration: none;  font-size:15px; color:#505050; font-weight:bold}
a.login:visited {text-decoration: none;  font-size:15px; color:#505050; font-weight:bold}
a.login:active {text-decoration: none;  font-size:15px; color:#505050; font-weight:bold}
a.login:hover {text-decoration: none; font-size:15px; color: #D80000;}

a.shop:link {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#505050; font-weight:bold}
a.shop:visited {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#505050; font-weight:bold}
a.shop:active {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#505050; font-weight:bold}
a.shop:hover {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:15px; color: #D80000;}

a.first_shop:link {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#505050; }
a.first_shop:visited {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#505050;}
a.first_shop:active {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#505050; }
a.first_shop:hover {text-decoration: underline; font-family:Arial, Helvetica, sans-serif; font-size:16px; color: #D80000;}


p.b {
font-family:Arial, Helvetica, sans-serif;
font-size:22px; color:#505050;

}

p.m {

font-family:Arial, Helvetica, sans-serif;
font-size:16px; color:#505050;

}


p.s{
margin-left:20px;
margin-bottom:5px;
margin-top:30px;
color:#606060;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}
	
img
{  
border-style: none;
}

