<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
 <form method="post">
    <div>Nimi: <input type="text" required="required" name="name" value="{{shop.name}}" ></div>
    <div>Kaupunki: <input type="text" required="required" name="city" value="{{shop.city}}" ></div>

     {% for grocery in shop.groceries %}
         {{ grocery.name}} <input type="number" name="{{grocery.name}}_price" step="any" required="required" value= "{{grocery.price}}">
         {% if grocery.name == 'Rasvaton Maito' or grocery.name == 'Jauheliha' %}
             <input type = "text" name="{{grocery.name}}_manufacturer" required="required" value="{{grocery.manufacturer}}">
         {% endif %}
         <br>
     {% endfor %}

    <div><input type="submit" value="Muuta arvot" name = "edit_shop"></div>
</form>
</body>
</html>