<head xmlns="http://www.w3.org/1999/html">
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<html>
  <body>
    {% for shop in shops_to_show %}
      <a href="show_shop?shop={{shop.key.urlsafe()}}">{{ shop.name|escape}}</a>  {{ shop.city}} {{ shop.price}}<br>
    {% endfor %}
    <br>
    <form method="post" action = "/">
      <select name="city">
        {% for city in cities %}
            <option>{{city}}</option>
        {% endfor %}
      </select>
    <input type="submit" name="show_city" value="Kaupunki" />
        <select name="no_of_shop">
            <option>5</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
      </select>
    <input type="submit" name="set_no_of_shopsity" value="Kauppojen määrä." />

    {% if user %}
        <div><input type="submit" value="Luo uusi kauppa" name = "add_shop"></div>
    {% endif %}

    </form>

    <br>
    <a href="{{ url}}">{{ url_linktext }}</a><br>
    <br>
  Sivusto on vielä kokeilutilassa. Kehitämme palvelua käyttäjien toiveiden mukaan. Bugit ja toiveet voi lisätä suoraan
  <a href="https://bitbucket.org/ismaro/ruokakori/issues"> vikaseurantaan.</a> Palautetta voi antaa myös osoitteeseen:
  palaute@ruokakori.net.<br>
<br>
  Kauppojen tietojen muuttaminen ja uusien lisääminen onnistuu kirjautumalla Google-tunnuksilla palveluun.<br>
  <br>
  Palvelun on toteuttanut ProNetworks Solutions Ismo Aro
  </body>
</html>