{% extends "base.html" %}
{% block content %}
    {% for shop in shops_to_show %}
         <a href="show_shop?shop={{shop.key.urlsafe()}}">{{ shop.name|escape}}</a>  {{ shop.city}} {{ shop.price}}<br>
    {% endfor %}
	<form method="post" action = "/">
    <select name="city">
        <option selected= 'selected'></option>
        {% for city in cities %}
            <option>{{city}}</option>
        {% endfor %}
    </select>
    <select name="no_of_shops">
        <option selected='selected'>5</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
    </select>
    <select name="postal_code">
        <option selected= 'selected'></option>
        {% for pc in postal_codes %}
            <option>{{pc}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="apply_filter" value="Aseta suodatin" />
    <input type="submit" name="clear_filter" value="Tyhjennä suodatin" /><br>
    {% if user %}
        <input type="submit" value="Luo uusi kauppa" name = "add_shop">
    {% endif %}
    </form>
{% endblock %}