<head xmlns="http://www.w3.org/1999/html">
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<html>
  <body>
  <div>
  <p class="right"><a href="{{ url}}">{{ url_linktext }}</a></p><br>
  <img src="pics/logo.png"></img>
  <form method="post" action = "/">
      <select name="city">
            <option selected= 'selected'></option>
        {% for city in cities %}
            <option>{{city}}</option>
        {% endfor %}
      </select>
        <select name="no_of_shops">
            <option>5</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
      </select>
    <input type="submit" name="apply_filter" value="Aseta suodatin" />
    <input type="submit" name="clear_filter" value="Tyhjennä suodatin" />
      <br>

    {% if user %}
        <input type="submit" value="Luo uusi kauppa" name = "add_shop">
    {% endif %}

    </form>
    <p class="main">
	{% for shop in shops_to_show %}
     <a href="show_shop?shop={{shop.key.urlsafe()}}">{{ shop.name|escape}}</a>  {{ shop.city}} {{ shop.price}}<br>
    {% endfor %}
	</p>
    <br>
    
  <p class="bottom">Sivusto on vielä kokeilutilassa. Kehitämme palvelua käyttäjien toiveiden mukaan. Bugit ja toiveet voi lisätä suoraan
  <a href="https://bitbucket.org/ismaro/ruokakori/issues"> vikaseurantaan.</a> Palautetta voi antaa myös osoitteeseen:
  palaute@ruokakori.net.<br>
  Kauppojen tietojen muuttaminen ja uusien lisääminen onnistuu kirjautumalla Google-tunnuksilla palveluun.<br>
  Palvelun on toteuttanut ProNetworks Solutions Ismo Aro<br><br></p>
  </div>
  </body>
</html>