<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
     Nimi: {{shop.name}} <br>
     Kaupunki: {{shop.city}} <br>
     Postinumero: {{shop.postal_code}}
     Hinta: {{shop.price}} <br>
     <br>
     Ruoat:<br>
     {% for grocery in shop.groceries %}
        {{ grocery.name}} {{grocery.manufacturer}} {{grocery.amount}} {{grocery.quantity}} {{ grocery.price}} <br>
     {% endfor %}

     {% if user %}

     <form method="post">
        <div><input type="submit" value="Poista kauppa" name = "delete_shop"></div>
        <div><input type="submit" value="Muokkaa kauppaa" name = "edit_shop"></div>
    </form>
    {% endif %}

</body>
</html>